.ipynb_checkpoints/
Dan Kalman, Sacha Forgoston, Albert Goetz - Elementary Mathematical Models-American Mathematical Society (2019).pdf
Stefan_Heinz_Mathematical_Modeling.pdf
presentation/images/
presentation/pdflatex113816.fls
presentation/presentation.nav
presentation/presentation.snm
presentation/presentation.synctex.gz
presentation/presentation.vrb
